<article class="listing">
    <div class="title">
        <a href="listing/{{id}}">
            <h2>{{title}}</h2>
        </a>
    </div>
    <p><strong>${{price}}</strong> - {{description}}</p>


</article>