<form class="multer-test-form" action="/multer-test" method="post" enctype="multipart/form-data">
    <input type="file" name="photo" id="photo" />
    <button type="submit">Upload</button>

</form>
<script src="/javascript/multer-test.js"></script>