<p>This is the single-listing page</p>

<article class="post">
    <div class="contact">
        <a href="mailto:{{listing.user.email}}?subject={{listing.title}}">Email the seller</a>
    </div>
    <div>
        {{> listing-info listing}}
    </div>
    <div class="meta">
        created by {{listing.user.username}} on
        {{listing.created_at}}
    </div>
</article>